
S3method(nlirms.family,default)
export(nlirms.family, as.nlirms.family, nlirms.family.default)
export(enc.PGA,  dPGA,  PGA)
export(enc.PGIG, dPGIG, PGIG)
export(enc.PIGA, dPIGA, PIGA)
export(esc.EGA,  dEGA,  EGA)
export(esc.EGIG, dEGIG, EGIG)
export(esc.EIGA, dEIGA, EIGA)
export(rmspfc)
export(rmspfsc)
export(rmspsc)
import(gridExtra)
import(grid)
import(gtable)
